@import 'assets/base';
@import 'assets/fonts';

:root{
	margin:0;
	padding:0;
}
::-moz-selection {
	background: #00c0f3;
	color: #ffffff;
}
::selection {
	background: #00c0f3;
	color: #ffffff;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
	color: #ffffff;
	font: 20px/48px $font;
	font-weight: normal;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	margin:0;
	padding: 0;
	position: relative;

	min-height: 680px;
	height: 100%;
	min-width: 1024px;

	//background-color:#000000;
	background-image: url("../../Images/bg.jpg");
}

a{
	color: #0b66d2;
	outline: none;
	&:focus{
		outline: none;
	}
	&:hover{
		text-decoration: none;
	}
}
ul {
	padding: 0 0 0 15px;
	>  li {
		padding: 0;
	}
}

.wrapper{
	height: 100%;
	padding: 0 20px;
	position: relative;
	width: 1024px;
	z-index: 10;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}


.main-header {

	&__logo-holder{
		left: 50%;
		position: absolute;
		top: 60%;
		//transform: translate(-50%, -50%);
		margin: -130px 0 0 -180px;
		width: 360px;
		transition:all 10s ease 0s, opacity 1.8s ease 0s;
		opacity: 0;

		.caption{
			display: block;
			text-align: center;
			margin-top: 19px;
			font: 20px $font;
			transition:all 0.3s ease 0s;

		}

		&.active{
			opacity: 1;
		}

		&.in-top{
			width: 150px;
			top: 45px;
			//transform: translate(-50%, 0px);
			margin: 0 0 0 -84px;
			transition:all 1s ease 0s;

			.caption{
				visibility: hidden;
				opacity: 0;
			}

		}
 
	}

	&__logo{
		max-width: 100%;
		width: 100%;
		display: block;
	}

}

.main-aside{
	position: absolute;
	left: 50%;
	margin-left: -360px;
	width: 720px;
	top: 325px;
	text-align: center;

	&__email-us{
		border: 1px solid #ffffff;
		border-radius: 3px;
		box-sizing: border-box;
		color: #fff;
		display: inline-block;
		font:normal 18px $font;
		left: 50%;
		top: 500px;
		margin-left: -68px;
		padding: 9px 20px;
		position: absolute;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 136px;
		transition:opacity 0.5s ease 0s, border 0.4s ease 0s;
		z-index: 11;

		opacity: 0;
		visibility: hidden;
		&:hover{
			color: #d62027;
			border-color: #d62027;
		}
	}
	&.active{
		.to-mail{
			opacity: 1;
			visibility: visible;
		}
	}

}

.main-nav {
	transform: translate3d(0px, -30px, 0px);
	opacity: 0;
	visibility: hidden;
	transition:0.3s ease 0.6s;
	&.active{
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
		visibility: visible;
	}
	&__items{
		margin: 0;
		padding: 0;
		list-style: none outside none;
		&--left{
			display: table;
			left: 50%;
			padding-right: 90px;
			position: absolute;
			top: 42px;
			transform: translateX(-100%);
		}
		&--right {
			display: table;
			left: 50%;
			padding-left: 80px;
			position: absolute;
			top: 42px;
		}

		> li{
			display: table-cell;
			padding: 0 8px;
			text-align: center;
			vertical-align: middle;
		}
	}
	&__item{
		display: inline-block;
		font:normal 16px/14px $fontCaption;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		padding: 6px 0;
		margin: 0 1px;
		position: relative;
		white-space: nowrap;

		transition: color 0.25s ease 0s;
 		&.active,
		&:hover{
			color: #d62027;
		}
	}
}

.box-inform{
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(-40%);
	transition: all 0.8s ease 0s;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	&.active{
		opacity: 1;
		visibility: visible;
		transform: translateY(0%); 
		transition: all 1.2s ease 0s;
	}
	&.out{
		transform: translateY(10%);
		transition: all 0.5s ease 0s;
	}
	.col-2-ul{
		text-align: center;
		column-count: 2;
		column-gap: 30px;
	}
	ul {
		text-align: -webkit-match-parent;
		font-size: 18px;
		//display: grid;
		//flex-wrap: wrap;
		//margin-top: 20px;
	}
	li{
		text-transform: uppercase;
		text-align: left;
	}
	p{
		color: #ffffff;
		line-height: 28px;
		margin: 15px auto 0 auto;
		max-width: 650px;
	}
	&__caption{
		font: normal 48px $font;
		color: #ffffff;
		> span{
			font: normal 48px $fontCaption;
			position: relative;
			&:before{
				content: "";
				bottom: -3px;
				width: 100%;
				height: 5px;
				background: #d62027;
				position: absolute;
			}	
		}
	}
}

.main-footer{
	&__address{
		position: absolute;
		width: 230px;
		margin-left: -115px;
		text-align: center;
		bottom: 22px;
		left: 22px;
		font: normal 12px $font;
		color: #ffffff;
		left: 50%;
	}
}

.red-color{
	color: #d62027;
}

#particles {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}